/* --------------------------------------------------- */

form, label, button, textarea, input,
h1, h2, h3, h4, h5, h6, p, 
strong, a, pre,
span, div, ul, li {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

form, body {
	font-family: Segoe UI;
	padding: 0px;
	margin: 0px;
}

a {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	text-decoration: none;
}

img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Segoe UI Light, Segoe UI;
	font-weight: lighter;
	margin: 0px;
}

p {
	margin: 0px;
}

ul {
	list-style-type: square;
	list-style-position: inside;
}

li {
	list-style-type: inherit;
	list-style-position: inherit;
}

pre {
	word-wrap: break-word;
	margin: 0px;
}

/* --------------------------------------------------- */