/* --------------------------------------------------- */
/* - Body - */

body {
}

a.popout {
	color: black;
}

a.popout img {
	position: relative;
	top: 2px;
	left: 2px;
	width: 12px;
	height: 12px;
	border: 1px solid #DDDDDD;
}

.medium .half,
.medium .third,
.small .half,
.small .third {
	width: 100%;
	float: none;
	padding: 0px;
}

.medium .quarter,
.small .quarter {
	width: 50%;
}

/* --------------------------------------------------- */
/* - Header - */

#header .full {
	text-align: center;
	height: 120px;
	background-repeat: no-repeat;
	background-position: 15% 84px, 28% 84px, 42% 84px, 57% 84px, 72% 84px, 85% 84px;
}

#header .full h1 {
	font-size: 40px;
	letter-spacing: 0.2em;
	padding: 25px 0px;
}

.small #header .full h1 {
	font-size: 24px;
	letter-spacing: 0.1em;
	padding: 20px 0px;
}

.small #header .full {
	text-align: center;
	height: 90px;
	background-repeat: no-repeat;
	background-position: 15% 54px, 28% 54px, 42% 54px, 57% 54px, 72% 54px, 85% 54px;
}

/* --------------------------------------------------- */
/* - Footer - */

#footer .center {
	background-repeat: no-repeat;
	background-position: 15% -11px, 28% -11px, 42% -11px, 57% -11px, 72% -11px, 85% -11px;
}

#footer ul {
	margin: 0px;
	padding: 50px 40px;
	list-style-type: none;
	text-align: center;
}

.small #footer ul,
.medium #footer ul {
	padding: 10px 0px;
}

.small #footer div.third:first-child ul,
.medium #footer div.third:first-child ul {
	padding-top: 50px;
}

#footer li {
	padding: 5px 0px;
}

#footer .addthis_toolbox {
	padding-top: 5px;
	width: 190px;
	display: inline-block;
	margin: auto;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
}

#footer .addthis_toolbox:hover {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

/* --------------------------------------------------- */
/* - Stats - */

#stats {
	text-align: center;
}

#stats ul {
	list-style-type: none;
	padding: 0px 0px 20px 0px;
	margin: 0px auto;
	display: inline-block;
}

#stats li {
	padding: 0px 20px 0px 0px;
	margin: 0px;
	float: left;
}

/* --------------------------------------------------- */
/* - Menu - */

ul.menu {
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style-type: none;
}

ul.menu li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
	background-color: white;
	border-left: 1px solid #EEEEEE;
	text-align: center;
	cursor: pointer;
	font-size: 22px;
}

ul.menu li:first-child {
	border-left: none;
}

ul.menu li.active {
	background-color: #AC193D;
	color: white;
}

ul.menu a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 5px 0px;
}

#leagues li {
	width: 33.3%;
}

.large #leagues {
	padding-right: 10px;
}

.large #divisions {
	padding-left: 10px;
}

.medium #leagues {
	height: 60px;
}

.small #leagues {
	height: 50px;
}

.small ul.menu li {
	font-size: 18px;
}


/* --------------------------------------------------- */
/* - Content - */

#content {
	background-color: #EEEEEE;
}

#teams, #matches, #users {
	padding-top: 20px;
}

/* --------------------------------------------------- */
/* - Table - */

table {
	width: 100%;
	float: left;
	background-color: white;
	border-collapse: collapse;
}

table th {
	padding: 3px 6px;
	font-size: 16px;
	background-color: #333333;
	text-align: center;
	font-weight: normal;
	color: white;
}

table td {
	font-size: 14px;
	padding: 3px 6px;
	text-align: center;
}

table th:first-child,
table td:first-child {
	text-align: left;
}

table tr:hover td {
	background-color: #EEEEEE;
}

table tr.active td,
table tr.active td a {
	background-color: #AC193D;
	color: white;
}

table img.flag {
	position: relative;
	top: 4px;
	margin-right: 4px;
}

table a.popout img {
	left: 6px;
}

table tr.active a.popout {
	display: none;
}

table.stats tr {
	cursor: pointer;
}

table.stats tr td {
	border-left: 1px solid #EEEEEE;
}

table.stats tr td:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.large table.stats tr td:first-child {
	width: 35%;
}

table.stats tr td:first-child,
table.stats tr.active td,
table.stats tr td.cspan {
	border-left: none;
}

table.users {
	width: 20%;
	border-left: 10px solid #EEEEEE;
	border-right: 10px solid #EEEEEE;
}

table.users.first {
	border-left: none;
}

table.users.last {
	border-right: none;
}

#users th:hover,
#users th.sortby {
	background-color: #AC193D;
	color: white;
}

table.rounds {
	border-bottom: 20px solid #EEEEEE;
}

table.rounds td {
	text-align: center;
}

table.rounds td.flag {
	width: 24px;
}

table.rounds td.score {
	width: 40px;
}

table.rounds td.players,
table.rounds td.completed {
	border-left: 1px solid #EEEEEE;
	width: 100px;
}

table.rounds td.first {
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.rounds td.last {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* --------------------------------------------------- */